<ion-header>
  <ion-toolbar>
    <ion-title>
      KIDS EVENTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Upcoming Events</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/%22%3E">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>Books Exhibition</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding%22%3E">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>Ornaments Exhibition</ion-label>
      </ion-item>
      <ion-item href="https://medium.com/ampersand-academy/ionic-4-tabs-example-from-scratch-step-by-step-tutorial-c101fb44cd05%22%3E">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>Weapons</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics%22%3E">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>Historical Festivals</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
